<!doctype html>
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"	th:replace="base::layout(~{::section},'About Page')">  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"	th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Change Password Page</title>
</head>
<body>
	<section>
		<div class="container ">
			<div class="row " >
				<div class="col-md-6 offset-md-3 mx-auto" >
					<div class="my-card bg-white p-3 mt-5 shadow-lg p-3 mb-5 bg-body rounded" >
						
						<h1 class="text-center">Enter new password</h1>
						
						<!-- otp form -->
						
						
						<!-- form -->
						<form action="" th:action="@{/change-password}" method="post">
							<!-- Email field -->
							<div class="mb-3">							    
							    <input type="password" 
							    		class="form-control" 
							    		required="required" 
							    		
							    		placeholder="Enter new password here"
							    		name="newpassword"								    		 
							    		>							     							    
							</div>
							
							<!-- Button -->
							<div class="container text-center">
                            	<button type="submit" class="btn bg-primary text-white px-4">
                            		Change Password
                            	</button>
                            	<button type="reset" class="btn bg-warning text-white px-4">
                            		Reset Data
                            	</button>
                            </div>
						
						
						</form>	
				
					</div>
					
				</div>
			
			</div>
		</div>		
	</section>			
	
	
</body>
</html>